body {
	font-family: "Tahoma", "Arial", sans-serif;
	font-size: 12px;
}

form {
	padding: 10px;
	border: 1px solid #AAAAAA;
}

caption {
	font-size: 2em;
	font-weight: bold;
}

#toggleBands {
	background-color: transparent;
	background-image: url("../images/toggleBands.png");
	height: 20px;
	width: 20px;
	cursor: pointer;
	background-position: -20px 0px;
}

#toggleBands.hidden {
	background-position: 0px 0px;
}

.warning {
	background-color: #F2DCDB;
	color: #632523;
	padding: 3px;
	font-weight: bold;
}

.message {
	background-color: #EBF1DE;
	color: #4F6228;
	padding: 3px;
	font-weight: bold;
}

table, tr, th, td {
	padding: 10px;
	border: 1px solid #AAAAAA;
	border-collapse: collapse;
}

input, textarea, select {
	border: 1px solid #AAAAAA;
}

input[type="text"] {
	width: 600px;
}

input[type="submit"]:hover {
	background-color: #AAAAAA;
	cursor: pointer;
}

select {
	width: 200px;
}

.inactive {
	background-color: #DDDDDD;
	border: 1px solid #AAAAAA;
}